/* USP Styles */

#wrapper-usps {
    text-align: center;

    // Columns
    .col-md {
        display: flex;

        .usp {
            background-color: #eee;
            padding: 1rem;
        }
        // USP Title
        h1 {
            font-size: 1.25rem;
        }
        // USP Content
        p {
            color: $black;
            // Media breakpoint for SM screens
            @include media-breakpoint-up(sm)    {
                font-size: 1.4rem;
            }
            // Media breakpoint for LG screens
            @include media-breakpoint-up(lg)    {
                font-size: 1rem;
            }
        }
    }
}

